@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");
@import url("./styles/body.css");
@import url("./styles/header.css");
@import url("./styles/search-input.css");
@import url("./styles/search.css");
@import url("./styles/cards.css");
@import url("./styles/card.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}