.body {
    max-width: 1512px;
    margin: 0 auto;
    padding: 18px 46px 0;
    font-family: "Rubik";
    position: relative;
}

.body__circle-one {
    position: fixed;
    width: 554px;
    height: 509px;
    left: -336px;
    top: 10%;
    background: rgba(253, 212, 70, 0.5);
    filter: blur(137.129px);
    z-index: -10;
}

.body__circle-two {
    position: fixed;
    width: 798px;
    height: 733px;
    right: -524px;
    top: 80%;
    background: rgba(253, 212, 70, 0.5);
    filter: blur(197.442px);
    z-index: -10;
}

@media screen and (max-width: 1240px) {
    .body {
        max-width: 1240px;
        padding: 18px 30px 0;
    }

    .body__circle-one {
        width: 364.62px;
        height: 335px;
        top: 10%;
        left: -235px;
        background: rgba(253, 212, 70, 0.5);
        filter: blur(137.129px);
    }
    
    .body__circle-two {
        width: 554px;
        height: 509px;
        top: 80%;
        right: -250px;
        background: rgba(253, 212, 70, 0.5);
        filter: blur(137.129px);
    }
}

@media screen and (max-width: 740px) {
    .body {
        max-width: 768px;
        padding: 10px 16px 0;
    }

    .body__circle-one {
        width: 153.92px;
        height: 141.35px;
        top: 10%;
        left: -43px;
        filter: blur(38.0988px);
    }
    
    .body__circle-two {
        width: 221.62px;
        height: 203.53px;
        top: 80%;
        left: 204px;
        filter: blur(54.8558px);
        background: rgba(253, 212, 70, 0.5);
    }
}